body {
    background-color: black;
    margin: 0;
}

.score {
    background-color: #1F6C2A ;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    height: 100px;
    display: flex;
}

.box {
    background-color: #73BF24;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;
    height: auto;
    display:flex;
}

.plateau {
    background-color: #cecece72 ;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 760px;
    width: 1050px;
}

.fa-pause {
    margin-top: 20px;
    margin-left: 1350px;
    font-size: 45px;
    background-color: orange;
    color:white;
    border-radius: 5px;
    text-align: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.fa-pause:hover {
    background-color: rgb(174, 116, 7);
}