.key {
    width: 40px;
    height: 40px;
    background: #E1720C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none
}

.pause-key {
    position: relative;
    &>div {
        display: flex;
    }
    .white-bar {
        width: 5px;
        height: 16px;
        background: #FFFFFF;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
        border-radius: 2px;
        margin: 2px;
    }
    i {
        position: absolute;
        bottom: -10px;
        left: -7px;
        font-size: 1.3rem;
    }
}


.fa-star {
    background: linear-gradient(180deg, #FFFFFF 1.14%, #ff9d00 80.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-text-stroke-width: 0.1px; 
    -webkit-text-stroke-color: black; 
    text-shadow: rgba(255, 204, 0, 0.584) 1px 0 10px;
}