main {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(69, 69, 69, 0.38), rgba(69, 69, 69, 0.38)), url(../../../public/assets/media/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Inter";
}

.window {
  background: #73bf24;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.45);
}

.pause-window {
  position: absolute;
  top: 0;
  font-family: "Cherry Bomb One", "sans-serif";
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.68);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pause-window .pause-menu {
  padding: 25px;
  background: #1f6c2a;
  border: 3px solid #19902b;
  border-radius: 20px;
}
.pause-window .pause-menu > p {
  font-weight: 400;
  font-size: 4rem;
  color: #ff7a00;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 50px;
}

.hidden {
  display: none !important;
}

section.game {
  display: grid;
  width: 1440px;
  margin: 0 auto;
  padding-top: 10%;
  grid-template-columns: 2fr 7fr 2fr;
  grid-gap: 20px;
}
@media (max-width: 1440px) {
  section.game {
    width: 880px;
  }
}
section.game .headline {
  background: #1F6C2A;
  border-radius: 20px 20px 0px 0px;
  padding: 15px 30px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.game .headline .headline-content {
  display: flex;
  width: 100%;
}
section.game .headline > p {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #FFFFFF;
  text-align: center;
}
section.game .current-score,
section.game .current-difficulty {
  background-color: #E1720C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  min-width: fit-content;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 247px;
  height: 40px;
  padding: 0 15px;
  margin-right: 15px;
}
section.game .current-score span,
section.game .current-difficulty span {
  font-weight: 700;
  font-size: 1.15rem;
}
section.game .inner-window {
  padding: 15px;
}
section.game .instructions {
  text-align: center;
}
@media (max-width: 1440px) {
  section.game .instructions {
    display: none;
  }
}
section.game .instructions .inner-window {
  padding-top: 30px;
}
section.game .instructions .inner-window p {
  font-weight: 700;
  font-size: 0.9rem;
}
section.game .instructions .hotkeys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  width: fit-content;
  margin: 20px auto 70px auto;
  font-weight: 700;
  font-size: 1rem;
}
section.game .instructions .hotkeys:last-child {
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
section.game .game-window {
  width: 100%;
  aspect-ratio: 3/2;
  background: #BBEAC2;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1440px) {
  section.game .scoreboard {
    display: none;
  }
}
section.game .scoreboard .user {
  width: 100%;
  padding: 10px;
  background: #2898FF;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
section.game .scoreboard .first-place {
  border: 2px solid #FFD702;
  box-shadow: 0px 2px 10px #FFD600;
}
section.game .scoreboard .second-place {
  border: 2px solid #D6D6D6;
  box-shadow: 0px 2px 10px #D3D3D3;
}
section.game .scoreboard .third-place {
  border: 2px solid #DFB180;
  box-shadow: 0px 2px 10px #C89C5B;
}

.main-menu {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cherry Bomb One", "sans-serif";
}
.main-menu .headline {
  background: #1f6c2a;
  border-radius: 20px 20px 0px 0px;
  padding: 45px 30px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu .headline .headline-content {
  display: flex;
  width: 100%;
}
.main-menu .headline > p {
  font-family: "Cherry Bomb One";
  font-size: 4rem;
  background: linear-gradient(180deg, #ffbf85 40.13%, #ff7a00 52.52%);
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}
.main-menu .menu-content {
  position: relative;
  background: url(../../../public/assets/media/main-menu-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
}
.main-menu .menu-content .btn-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.main-menu .menu-content .blue-btn {
  position: relative;
}
.main-menu .menu-content .blue-btn i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.main-menu .snake-image {
  position: absolute;
  width: 270px;
  bottom: -40px;
  left: -80px;
}
.main-menu .difficulty-popup {
  background: radial-gradient(156.25% 701.25% at 33.18% 11.25%, #2898ff 0%, #4e8df7 100%);
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  padding: 10px;
  position: absolute;
  top: 241px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.main-menu .difficulty-popup > div {
  margin: 5px 0;
  border-radius: 50px;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-menu .difficulty-popup > div span {
  margin-right: 90px;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.main-menu .difficulty-popup > div p,
.main-menu .difficulty-popup > div span {
  display: flex;
  align-items: center;
}
.main-menu .difficulty-popup > div:hover, .main-menu .difficulty-popup > div:hover span {
  color: #ff7a00;
  background-color: white;
  cursor: pointer;
}

.pause-btn {
  width: 40px;
  height: 40px;
  background-color: #e1720c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.pause-btn > div {
  display: flex;
}
.pause-btn .white-bar {
  width: 5px;
  height: 16px;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  margin: 2px;
}
@keyframes shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shadowOnClick {
  0% {
    background: radial-gradient(70% 70% at 50% 50%, #ffffff 0%, rgba(255, 255, 255, 0) 0%), #e1720c;
  }
  25% {
    background: radial-gradient(70% 70% at 50% 50%, #ffffff 5%, rgba(255, 255, 255, 0) 25%), #e1720c;
  }
  50% {
    background: radial-gradient(70% 70% at 50% 50%, #ffffff 8%, rgba(255, 255, 255, 0) 50%), #e1720c;
  }
  75% {
    background: radial-gradient(70% 70% at 50% 50%, #ffffff 15.78%, rgba(255, 255, 255, 0) 75%), #e1720c;
  }
  100% {
    background: radial-gradient(70% 70% at 50% 50%, #ffffff 15.78%, rgba(255, 255, 255, 0) 100%), #e1720c;
  }
}
.pause-btn:hover {
  animation: shaking 0.25s 1;
  cursor: pointer;
}
.pause-btn:active {
  animation: shadowOnClick 0.08s 1;
}

.btn {
  padding: 10px 0;
  width: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  user-select: none;
}
.btn:hover {
  cursor: pointer;
  animation: shaking 0.25s 1;
}

.blue-btn {
  background: radial-gradient(156.25% 701.25% at 33.18% 11.25%, #2898ff 0%, #4e8df7 100%);
}

.orange-btn {
  background: radial-gradient(156.25% 701.25% at 33.18% 11.25%, #e1720c 0%, #ed9d53 100%);
}

.square-btn {
  width: 85px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background: radial-gradient(156.25% 701.25% at 33.18% 11.25%, #2898ff 0%, #4e8df7 100%);
}
.square-btn i {
  font-size: 1.6rem;
}
.square-btn span {
  font-size: 0.95rem;
  font-weight: 400;
  text-transform: uppercase;
}

.key {
  width: 40px;
  height: 40px;
  background: #E1720C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.pause-key {
  position: relative;
}
.pause-key > div {
  display: flex;
}
.pause-key .white-bar {
  width: 5px;
  height: 16px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  margin: 2px;
}
.pause-key i {
  position: absolute;
  bottom: -10px;
  left: -7px;
  font-size: 1.3rem;
}

.fa-star {
  background: linear-gradient(180deg, #FFFFFF 1.14%, #ff9d00 80.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  text-shadow: rgba(255, 204, 0, 0.584) 1px 0 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

/*# sourceMappingURL=style.css.map */
